@import "base.css";
@import "header.css";
:root {
    --main-bg-color: #A8D0E6;
}

#header .design .color-tone .color .red {
    background-color: #FF7171;
}
#header .design .color-tone .color .green {
    background-color: #0B4619;
}
#header .design .color-tone .color .blue {
    background-color: #374885;
}

.cv-content {
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#cv {
    width: calc(595px * 1.335);
    min-height: calc(842px * 1.33); 
    background-color: #fff;
    font-family: times, "Times New Roman";
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.cv-height {
    height: calc(1120px * 2);
}

#cv .bottom-line {
    width: 100%;
    height: 16px;
    background-color: #152D35;
    position: absolute;
    top: 1120px;
    left: 0;
}

.cv-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cv-header .cv-header-img {
    position: relative;
    width: 40%;
    background-color: var(--main-bg-color);
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cv-header .cv-header-img img {
    max-width: 320px;
    max-height: 320px;
}

#upload-img {
    position: absolute;
    width: 30px;
    height: 30px;
    right: -8px;
    bottom: -8px;
    cursor: pointer; 
    background-color: #3A3B3C;
    border-radius: 50%;
    padding: 8px;   
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    visibility: hidden;
    transition: all 0.2s;
    transition-delay: 0.2s;
}   

#upload-img i {
    font-size: 1.4rem;
    color: #E4E6EA;
}

.cv-header .cv-header-img:hover #upload-img {
    visibility: visible;
}

.cv-header-name-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    background-color: var(--main-bg-color);
    padding: 20px;
}

.cv-header-name-group .name, .cv-header-name-group .name ul li {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Paytone One', sans-serif;
}

.cv-header-name-group .name {
    border-bottom: 5px solid #000;
}


.cv-header-name-group .name b,
.cv-header-name-group .name font,
.cv-header-name-group .name u,
.cv-header-name-group .name i,
.cv-header-name-group .name span {
    font-size: 4rem;
}

.cv-header-name-group .position, .cv-header-name-group .position ul li {
    width: 100%;
    text-align: center;
    font-weight: 500;
    margin-top: 12px;
    font-size: 2.2rem;
}

.cv-header-name-group .position b,
.cv-header-name-group .position font,
.cv-header-name-group .position u,
.cv-header-name-group .position i,
.cv-header-name-group .position span {
    font-size: 2.2rem;
}

.cv-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.cv-main-left {
    width: 40%;
    height: 100%;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
}

.introduce {
    order: 1;
}

.contact {
    order: 2;
}

.skill {
    order: 3;
}

.certification {
    order: 4;
}

.hobby {
    order: 5;
}

.cv-main-right {
    display: flex;
    flex-direction: column;
}

.education {
    order: 1;
}

.experience {
    order: 2;
}

.cv-main-left, .cv-main-right {
    padding: 0 2px;
}

.cv-main-left-item, .cv-main-right-item {
    padding: 0 30px;
}

.cv-main-left-item:first-child {
    padding-top: 10px;
}

.cv-main-left-item .title, .cv-main-right-item .title {
    font-weight: 600;
    font-size: 2.4rem;
    font-family: 'Paytone One', sans-serif;
}

.cv-main-left-item p, .cv-main-left-item p ul li{
    margin-top: 4px;
    font-size: 1.6rem;
    line-height: 1.3;
}

.cv-main-left-item p b,
.cv-main-left-item p font,
.cv-main-left-item p u,
.cv-main-left-item p i {
    font-size: 1.6rem;
    line-height: 1.3;
}

.cv-main-left-item .title b,
.cv-main-left-item .title font,
.cv-main-left-item .title u,
.cv-main-left-item .title i {
    font-size: 2.4rem;
    font-weight: inherit;
}

.cv-main-left-item .content div, .cv-main-left-item .content div ul li {
    font-size: 1.6rem;
    margin: 10px 0;
}

.cv-main-left-item .content div b,
.cv-main-left-item .content div font,
.cv-main-left-item .content div u,
.cv-main-left-item .content div i {
    font-size: 1.6rem;
}

.cv-main-left-item .content div .fas {
    font-size: 1.6rem;
    margin-right: 4px;
}

.dark-color {
    color: #374885;
}

.skill .content div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px !important;
}

.skill .content div span {
    font-size: 1.6rem;
}

.skill .content div span {
    width: 50%;
}

.slider {
    background-color: #374885;
    border-radius: 4px;
    height: 12px;
    width: 45%;
    outline: none;
    -webkit-appearance: none;
    position: relative;
}

.slider::-webkit-slider-thumb {
    background-color: #374885;
    border-radius: 4px;
    height: 12px;
    width: 20px;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.cv-main-right {
    background-color: #fff;
    width: 60%;
}

.cv-main-right-item .title {
    font-size: 2.6rem;
    font-weight: 600;
    text-align: center;
    position: relative;
    padding: 6px 0;
    background-color: var(--main-bg-color);
}

.cv-main-right-item .title .fas {
    margin-right: 20px;
}

.cv-main-right-item .title b,
.cv-main-right-item .title font,
.cv-main-right-item .title u,
.cv-main-right-item .title i {
    font-size: 2.6rem;
}

.cv-main-right-item ul li .school {
    font-size: 2.4rem;
    font-weight: 600;
}

.school b,
.school font,
.school u,
.school i,
.school span {
    font-size: 2.4rem;
}

.cv-main-right-item ul li .time {
    font-size: 1.4rem;
    font-weight: 500;
}

.time b,
.time font,
.time u,
.time i,
.time span {
    font-size: 1.4rem;
}

.cv-main-right-item ul li ul li, .cv-main-right-item ul li li {
    list-style-type: disc;
    margin: 4px 0 4px 40px;
    font-size: 2rem;
}

.cv-main-right-item ul li ul li b,
.cv-main-right-item ul li ul li font,
.cv-main-right-item ul li ul li u,
.cv-main-right-item ul li ul li i,
.cv-main-right-item ul li ul li span {
    font-size: 2rem;
}

.editable {
    border: none;
    outline: none;
}

.editable:focus {
    outline: 1px dashed #666;
}

.editor-controller, .add-skill, .add-experience, .add-education {
    position: relative;
}

.editor-controller .fa-trash-alt {
    position: absolute;
    top: calc(50% - 7px);
    right: 4px;
    -user-modify: none;
    -webkit-user-modify: none;
    -moz-user-modify: none;
    cursor: pointer;
    font-size: 1.6rem;
    color: #ED5565;
    z-index: 1;
}

.editor-controller .fa-trash-alt:hover {
    color: #e92a3d;
    transition: 0.25s;
    transition-delay: 0.1s;
}

.add-skill .fa-plus-circle, .add-experience .fa-plus-circle, .add-education .fa-plus-circle {
    position: absolute;
    top: calc(50% - 7px);
    left: 4px;
    font-size: 1.6rem;
    color: #00B14F;
    -user-modify: none;
    -webkit-user-modify: none;
    -moz-user-modify: none;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

.fa-plus-circle:hover {
    color: #05833d;
    transition: 0.25s;
    transition-delay: 0.1s;
}


.modal-full {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-full h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    user-select: none;
    text-align: center;
    margin: 0 20px;
}

@media screen and (max-width: 1199px) {
    .modal-full {
        display: flex;
    }

    body {
        overflow: hidden;
    }
}