@import "base.css";

:root {
    --bg-color: #152D35;
    --border-color: #384954;
    --white-color: #F7F7F7;
}

@font-face {
    font-family: "DejaVu";
    src: url(../fonts/dejavu-serif/DejaVuSerif.ttf);
}

.wrapper {
    width: 100%;
    overflow: hidden;
    background-color: var(--bg-color);
}

#header {
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    color: var(--white-color);
    background-color: var(--background-color);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .nav .logo a img {
    width: 80px;
}

#header .design {
    /* width: 80%; */
    display: flex;
    justify-content: space-between;
    user-select: none;
}

#header .design .paper {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 12px 20px;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.paper:hover .template {
    display: block;
}

.template {
    position: absolute;
    top: calc(100% + 6px);
    width: 800px;
    height: 300px;
    background-color: var(--background-color);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.15);
    display: none;
    padding: 24px 40px;
    cursor: auto;
}

.template:before {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
}

.template h6 {
    font-size: 2rem;
    margin-bottom: 18px;
}

.template .template-group {
    display: flex;
    justify-content: space-between;
}

.template-item {
    width: calc(33% - 24px);
    transition: ease-in-out 0.2s;
}

.template-item:hover {
    transform: scale(1.1, 1.1);
}

.template-item.active {
    transform: scale(1.01, 1.1);
    border: 3px solid #0c98c7;
}

#header .design .paper i {
    font-size: 2.0rem;
}

#header .design .color-tone {
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-left: 1px solid var(--border-color);
}

#header .design .color-tone .color {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
}

#header .design .color-tone .color .color-item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
    position: relative;
}

.color-item .fa-check {
    display: none;
}

.color-item:hover .fa-check {
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 1.4rem;
    color: var(--white-color);
}

.color-item.active .fa-check {
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 1.4rem;
    color: var(--white-color);
}

#header .design .color-tone .color .red {
    background-color: #BC85A3;
}
#header .design .color-tone .color .green {
    background-color: #458966;
}
#header .design .color-tone .color .blue {
    background-color: #3F59A8;
}

#header .design .style {
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 12px 20px;
    border-left: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header .design .style-group {
    display: flex;
    margin-top: 6px;
}

#header .design .style .style-group .style-item {
    width: 36px;
    height: 36px;
    font-size: 1.6rem;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#header .design .style .style-group .style-item i {
    font-size: 1.4rem;
}

.fa-align-left, .fa-align-center, .fa-align-justify, .fa-align-right {
    transform: rotate(180deg);
}

.style-item:hover {
    background-color: var(--border-color)
}

#header .design .font {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 12px 20px;
    border-left: 1px solid var(--border-color);
}

#header .design .font select {
    margin-top: 6px;
    padding: 4px 32px 4px 8px;
    width: 160px;
    outline: 1px solid rgb(218, 218, 218);
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    background-color: var(--white-color);
    font-family: 'Open sans', sans-serif;
    border-radius: 1px;
}

#header .design .font select option {
    font-size: 1.4rem;
}

#header .design .download {
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    padding: 12px 20px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    cursor: pointer;
}

#header .design .download i {
    font-size: 1.6rem;
    margin-right: 8px;
}

.modal {
    font-family: "Open Sans", sans-serif;
}

.modal-header .modal-title {
    font-size: 2.6rem;
}

.modal-body {
    padding: 0;
}

.modal-body .element {
    display: flex;
    flex-direction: column;
}

.modal-body .element .element-item {
    font-size: 2.8rem;
    background-color: #fff;
    margin: 10px 10px 0 10px;
    display: flex;
    align-items: center;
    padding: 8px 18px;
    border-radius: 3px;
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.15);
}

.modal-body .element .element-item:last-child {
    margin-bottom: 10px;
}

.modal-body .element .element-item .check {
    font-size: 2.8rem;
    background-color: #ccc;
    color: #fff;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s;
}

.modal-body .element .element-item .check:hover {
    background-color: #999;
}

.modal-body .element .element-item span {
    margin-left: 16px;
    user-select: none;
}

.modal-footer button {
    font-size: 1.6rem;
    outline: none;
    padding: 4px 12px;
    background-color: #000;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #152D35;
}

::-webkit-scrollbar-thumb  {
    background-color: #497280;
}

.cv-name .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 0 40px 0;
    margin-top: 90px;
}

.cv-name .container {
    font-family: Open Sans, sans-serif;
}

#file-name {
    font-size: 3.4rem;
    color: var(--white-color);
    width: 70%;
    text-align: center;
}

#file-name:focus {
    border: none;
    outline: 1px dashed #505C69;
}

#file-name b,
#file-name font,
#file-name u,
#file-name i {
    font-size: 3.4rem;
}

.cv-name .container p {
    font-size: 1.8rem;
    margin-top: 10px;
    color: rgb(197, 197, 197);
}

.cv-content {
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cv {
    /* width: 892.5px; 
    min-height: 1263px;  */
    width: calc(595px * 1.335);
    min-height: calc(842px * 1.335); 
    background-color: #fff;
    padding: 40px 28px;
    font-family: "DejaVu", sans-serif;
}

.cv-header {
    display: flex;
    justify-content: space-between;
}

.cv-header .cv-header-img img {
    max-width: 230px; 
    max-height: 230px;
    border-radius: 50%;
}

.cv-header-name-group {
    margin: 56px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cv-header-name-group .name {
    font-size: 4.2rem;
    font-weight: 600;
}

.cv-header-name-group .name b,
.cv-header-name-group .name font,
.cv-header-name-group .name u,
.cv-header-name-group .name i,
.cv-header-name-group .name span {
    font-size: 4.2rem;
}

.cv-header-name-group .position {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
}

.cv-header-name-group .position b,
.cv-header-name-group .position font,
.cv-header-name-group .position u,
.cv-header-name-group .position i,
.cv-header-name-group .position span {
    font-size: 1.6rem;
}

.cv-main {
    display: flex;
    justify-content: space-between;
}

.cv-main-left {
    max-width: 300px;
}


.cv-main-left-item, .cv-main-right-item {
    margin: 60px 0;
}

.cv-main-left-item:first-child {
    margin-top: 40px;
}

.cv-main-left-item .title {
    width: 260px;
    min-height: 66px;
    position: relative;
    background-color: #BC85A3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: -10px;
    color: #fff;
}

.cv-main-left-item .title span {
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-right: 40px;
    padding-left: 10px;
    text-align: center;
}

.cv-main-left-item .title b,
.cv-main-left-item .title font,
.cv-main-left-item .title u,
.cv-main-left-item .title i {
    font-size: 2.2rem;
}


/* .cv-main-left-item .title:before {
    content: "";
    width: 66px;
    height: 100%;
    position: absolute;
    left: -28px;
    top: 0;
    background-color: #fff;
    box-sizing: border-box;
    border-style: solid;
    border-width: 33px;
    border-color: transparent #BC85A3 transparent transparent;
} */

.cv-main-left-item .title:after {
    content: "";
    width: 66px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    box-sizing: border-box;
    border-style: solid;
    border-width: 33px;
    border-color: transparent #fff transparent transparent;
}

:is(.cv-main-left-item, .cv-main-right-item) ul li {
    font-size: 1.6rem;
    list-style: disc;
    margin: 10px 0 10px 20px;
}

:is(.cv-main-left-item, .cv-main-right-item) ul li b,
:is(.cv-main-left-item, .cv-main-right-item) ul li font,
:is(.cv-main-left-item, .cv-main-right-item) ul li u,
:is(.cv-main-left-item, .cv-main-right-item) ul li i {
    font-size: 1.6rem;
}

:is(.cv-main-left-item, .cv-main-right-item) ul li .header {
    font-size: 1.8rem;
    margin: 6px 0 6px 12px; 
}

:is(.cv-main-left-item, .cv-main-right-item) ul li .header b,
:is(.cv-main-left-item, .cv-main-right-item) ul li .header font,
:is(.cv-main-left-item, .cv-main-right-item) ul li .header u,
:is(.cv-main-left-item, .cv-main-right-item) ul li .header i {
    font-size: 1.8rem;
}

:is(.cv-main-left-item, .cv-main-right-item) ul li .content {
    font-size: 1.6rem; 
}

.cv-main-right {
    background-color: #F8DAE9;
    max-width: 50%;
    padding: 0 20px;
    margin-top: 50px;
}

.cv-main-right-item:first-child {
    margin-top: 0;
    padding-top: 10px;
}

.cv-main-right-item .title {
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-bottom: 32px;
}

.cv-main-right-item .title b,
.cv-main-right-item .title font,
.cv-main-right-item .title u,
.cv-main-right-item .title i {
    font-size: 2.2rem;
}

.cv-main-right-item .title:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: calc(50% - 100px);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 
        5px 0 0 0 black,
        15px 0 0 0 black,
        25px 0 0 0 black,
        35px 0 0 0 black,
        45px 0 0 0 black,
        55px 0 0 0 black,
        65px 0 0 0 black,
        75px 0 0 0 black,
        85px 0 0 0 black,
        95px 0 0 0 black,
        105px 0 0 0 black,
        115px 0 0 0 black,
        125px 0 0 0 black,
        135px 0 0 0 black,
        145px 0 0 0 black,
        155px 0 0 0 black,
        165px 0 0 0 black,
        175px 0 0 0 black,
        185px 0 0 0 black,
        195px 0 0 0 black;
}

.page-2 {
    position: relative;
}

.page-2::before {
    content: "Trang 2";
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    background-color:#505C69;
    border-radius: 3px 0 0 3px;
    position: absolute;
    top: 1124.07px;
    left: -80px;
    width: 80px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editable {
    border: none;
    outline: none;
    padding: 10px;
}

.editable:focus {
    outline: 1px dashed #505C69;
}

.editor-controller {
    position: relative;
}

.editor-controller .fa-trash-alt {
    position: absolute;
    top: calc(50% - 9px);
    right: -18px;
    -webkit-user-modify: none;
    -moz-user-modify: read-write;
    cursor: pointer;
    font-size: 1.8rem;
    color: #666;
}
