@import "base.css";
@import "header.css";

@font-face {
    font-family: "DejaVu";
    src: url(../fonts/dejavu-serif/DejaVuSerif.ttf);
}

.cv-content {
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cv {
    width: calc(595px * 1.335);
    min-height: calc(842px * 1.33); 
    background-color: #fff;
    padding: 32px 24px;
    font-family: "DejaVu", sans-serif;
    position: relative;
    overflow: hidden;
    /* display: flex;
    flex-direction: column; */
}

.cv-height {
    height: calc(1120px * 2);
}

#cv .bottom-line {
    width: 100%;
    height: 16px;
    background-color: #152D35;
    position: absolute;
    top: 1120px;
    left: 0;
}

.cv-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
}

.cv-header .cv-header-img {
    position: relative;
}

.cv-header .cv-header-img img {
    max-width: 200px; 
    max-height: 200px;
    border-radius: 8px;
    /* border-radius: 50%; */
}

.cv-header .cv-header-img label {
    position: absolute;
    width: 30px;
    height: 30px;
    right: -8px;
    bottom: -8px;
    cursor: pointer; 
    background-color: #3A3B3C;
    border-radius: 50%;
    padding: 8px;   
    display: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}   

#upload-img i {
    font-size: 1.4rem;
    color: #E4E6EA;
}

.cv-header .cv-header-img:hover #upload-img {
    display: flex;
}

.cv-header-name-group {
    max-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cv-header-name-group .name {
    font-size: 3.6rem;
    font-weight: 600;
}

.cv-header-name-group .name b,
.cv-header-name-group .name font,
.cv-header-name-group .name u,
.cv-header-name-group .name i,
.cv-header-name-group .name span {
    font-size: 3.6rem;
}

.cv-header-name-group .position {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
}

.cv-header-name-group .position b,
.cv-header-name-group .position font,
.cv-header-name-group .position u,
.cv-header-name-group .position i,
.cv-header-name-group .position span {
    font-size: 1.6rem;
}

.cv-main {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.cv-main-left {
    max-width: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.contact {
   order: 1; 
}

.hobby {
    order: 2; 
 }

.activity {
    order: 3; 
}

.cv-main-right {
    display: flex;
    flex-direction: column;
}

.education {
    order: 1; 
 }
 
.award {
    order: 2; 
}
 
.skill {
    order: 3; 
}

.experience {
    order: 4; 
}

.cv-main-left-item:first-child {
    margin-top: 0px;
}

.cv-main-left-item span {
    display: block;
    margin: 5px 0;
}

.cv-main-left-item .title {
    width: 260px;
    min-height: 56px;
    position: relative;
    background-color: #BC85A3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding-left: -10px;
    color: #fff;
    margin-bottom: 10px;
}

.cv-main-left-item .title span {
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    padding-right: 26px;
    padding-left: 26px;
    width: 100%;
    text-align: center;
}

.cv-main-left-item .title b,
.cv-main-left-item .title font,
.cv-main-left-item .title u,
.cv-main-left-item .title i {
    font-size: 1.8rem;
    line-height: 1;
}

.cv-main-left-item .title:before {
    content: "";
    width: 56px;
    height: 100%;
    position: absolute;
    left: -10px;
    top: 0;
    background-color: transparent;
    box-sizing: border-box;
    border-style: solid;
    border-width: 28px;
    border-color: #fff transparent #fff #fff;
}

.cv-main-left-item .title:after {
    content: "";
    width: 56px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    box-sizing: border-box;
    border-style: solid;
    border-width: 28px;
    border-color: transparent #fff transparent transparent;
}

:is(.cv-main-left-item, .cv-main-right-item) ul li {
    font-size: 1.4rem;
    list-style: disc;
    margin: 10px 0 10px 20px;
}

:is(.cv-main-left-item, .cv-main-right-item) ul li b,
:is(.cv-main-left-item, .cv-main-right-item) ul li font,
:is(.cv-main-left-item, .cv-main-right-item) ul li u,
:is(.cv-main-left-item, .cv-main-right-item) ul li i {
    font-size: 1.4rem;
}

:is(.cv-main-left-item, .cv-main-right-item) ul li .header {
    font-size: 1.4rem;
    margin: 6px 0 6px 12px; 
}

:is(.cv-main-left-item, .cv-main-right-item) ul li .header b,
:is(.cv-main-left-item, .cv-main-right-item) ul li .header font,
:is(.cv-main-left-item, .cv-main-right-item) ul li .header u,
:is(.cv-main-left-item, .cv-main-right-item) ul li .header i {
    font-size: 1.4rem;
}

:is(.cv-main-left-item, .cv-main-right-item) ul li .content {
    font-size: 1.4rem; 
}

.cv-main-right {
    background-color: #F8DAE9;
    width: 50%;
    padding: 0 20px;
    margin-top: 30px;
}

.cv-main-right-item:first-child {
    margin-top: 0;
    padding-top: 10px;
}

.cv-main-right-item .title {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.cv-main-right-item .title b,
.cv-main-right-item .title font,
.cv-main-right-item .title u,
.cv-main-right-item .title i {
    font-size: 1.8rem;
}

.skill li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px !important;
}

.skill li span {
    font-size: 1.4rem;
}

.skill li span:first-child {
    width: calc(40% - 6px);
}

.skill li span:last-child {
    text-align: right;
    width: calc(15% - 6px);
}

.slider {
    background-color: #737373;
    border-radius: 5px;
    height: 12px;
    width: 45%;
    outline: none;
    -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
    background-color: #737373;
    border-radius: 5px;
    height: 12px;
    width: 12%;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
  }

.cv-main-right-item .title:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: calc(50% - 100px);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    box-shadow: 
        5px 0 0 0 black,
        15px 0 0 0 black,
        25px 0 0 0 black,
        35px 0 0 0 black,
        45px 0 0 0 black,
        55px 0 0 0 black,
        65px 0 0 0 black,
        75px 0 0 0 black,
        85px 0 0 0 black,
        95px 0 0 0 black,
        105px 0 0 0 black,
        115px 0 0 0 black,
        125px 0 0 0 black,
        135px 0 0 0 black,
        145px 0 0 0 black,
        155px 0 0 0 black,
        165px 0 0 0 black,
        175px 0 0 0 black,
        185px 0 0 0 black,
        195px 0 0 0 black;
}

.editable {
    border: none;
    outline: none;
    padding: 4px 10px;
}

.editable:focus {
    outline: 1px dashed #505C69;
}

.editor-controller, .add-skill, .add-activity {
    position: relative;
}

.editor-controller .fa-trash-alt {
    position: absolute;
    top: calc(50% - 7px);
    right: -16px;
    -user-modify: none;
    -webkit-user-modify: none;
    -moz-user-modify: none;
    cursor: pointer;
    font-size: 1.4rem;
    color: #666;
    z-index: 1;
}

.add-skill .fa-plus, .add-activity .fa-plus {
    position: absolute;
    top: calc(50% - 7px);
    left: -16px;
    font-size: 1.6rem;
    color: #666;
    -user-modify: none;
    -webkit-user-modify: none;
    -moz-user-modify: none;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

