@import "base.css";
@import "header.css";

@font-face {
    font-family: "DejaVu";
    src: url(../fonts/dejavu-serif/DejaVuSerif.ttf);
}

#header .design .color-tone .color .red {
    background-color: #77838D;
}
#header .design .color-tone .color .green {
    background-color: #889EAF;
}
#header .design .color-tone .color .blue {
    background-color: #87A7B3;
}

.cv-content {
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cv {
    width: calc(595px * 1.335);
    min-height: calc(842px * 1.33); 
    background-color: #fff;
    font-family: "DejaVu", sans-serif;
    position: relative;
}

.cv-height {
    height: calc(1120px * 2);
}

#cv .bottom-line {
    width: 100%;
    height: 16px;
    background-color: #152D35;
    position: absolute;
    top: 1120px;
    left: 0;
}

.cv-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 26px;
    background-color: #C7D0D8;
}

.cv-header .cv-header-img {
    position: relative;
    width: calc(35% - 20px);
}

.cv-header .cv-header-img img {
    max-width: 100%; 
    max-height: 100%;
    border-radius: 8px;
}

#upload-img {
    position: absolute;
    width: 30px;
    height: 30px;
    right: -8px;
    bottom: -8px;
    cursor: pointer; 
    background-color: #3A3B3C;
    border-radius: 50%;
    padding: 8px;   
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    visibility: hidden;
    transition: all 0.2s;
    transition-delay: 0.2s;
}   

#upload-img i {
    font-size: 1.4rem;
    color: #E4E6EA;
}

.cv-header .cv-header-img:hover #upload-img {
    visibility: visible;
}

.cv-header-name-group {
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cv-header-name-group .name {
    font-size: 4.4rem;
    font-weight: 600;
}

.cv-header-name-group .name b,
.cv-header-name-group .name font,
.cv-header-name-group .name u,
.cv-header-name-group .name i,
.cv-header-name-group .name span {
    font-size: 4.4rem;
}

.cv-header-name-group .position {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
}

.cv-header-name-group .position b,
.cv-header-name-group .position font,
.cv-header-name-group .position u,
.cv-header-name-group .position i,
.cv-header-name-group .position span {
    font-size: 1.6rem;
}

.cv-main {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    max-height: 89.12%;
}

.cv-main-left:after {
    content: "";
    width: 3px;
    height: calc(100% - 4px);
    min-height: 850px;
    background-color: #77838d;
    position: absolute;
    top: 4px;
    right: -20px;
}

.cv-main-left {
    width: calc(45% - 20px);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.contact {
    order: 1; 
 }
 
.hobby {
    order: 2; 
}
  
.award {
    order: 3; 
}
 
.activity {
    order: 4; 
}

.cv-main-right {
    display: flex;
    flex-direction: column;
}

.education {
    order: 1; 
 }
 
.skill {
    order: 2; 
}

.experience {
    order: 3; 
}


:is(#content-education, #content-experience) > li {
    list-style: none;
    margin-left: 0;
}

:is(#content-education, #content-experience) .school {
    font-size: 1.6rem;
    font-weight: 600;
}

:is(#content-education, #content-experience) .school span,
:is(#content-education, #content-experience) .school b,
:is(#content-education, #content-experience) .school i,
:is(#content-education, #content-experience) .school u {
    font-size: 1.6rem;
}

:is(#content-education, #content-experience) .time {
    font-size: 1.2rem;
}

:is(#content-education, #content-experience) .time span,
:is(#content-education, #content-experience) .time b,
:is(#content-education, #content-experience) .time i,
:is(#content-education, #content-experience) .time u {
    font-size: 1.2rem;
}

.cv-main-left-item {
    padding: 0 26px;
}

.cv-main-left-item:first-child {
    margin-top: 0px;
}

.cv-main-left-item span {
    display: block;
    margin: 5px 0;
}

.cv-main-left-item .title {
    width: 280px;
    min-height: 56px;
    position: relative;
    background-color: #77838d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    overflow: hidden;
}

.cv-main-left-item .title span {
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    padding-right: 24px;
    padding-left: 38px;
    width: 100%;
    text-align: center;
}

.cv-main-left-item .title b,
.cv-main-left-item .title font,
.cv-main-left-item .title u,
.cv-main-left-item .title i,
.cv-main-left-item .title a {
    font-size: 1.8rem;
    line-height: 1;
}

.cv-main-left-item .title:before {
    content: "";
    width: 76px;
    height: 100%;
    position: absolute;
    left: 0;
    top: -10px;
    background-color: transparent;
    box-sizing: border-box;
    border-style: solid;
    border-width: 38px;
    border-color: transparent transparent transparent #c7d0d8;
}

.cv-main-left-item .title:after {
    content: "";
    width: 56px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    box-sizing: border-box;
    border-style: solid;
    border-width: 28px;
    border-color: transparent transparent transparent #fff;
}

.cv-main-left-item ul {
    padding: 10px 0;
    margin: 0;
    list-style: none;
    width: 280px;
}

:is(.cv-main-left-item, .cv-main-right-item) ul li {
    font-size: 1.4rem;
    padding: 4px 0;
}

:is(.cv-main-left-item, .cv-main-right-item) ul li b,
:is(.cv-main-left-item, .cv-main-right-item) ul li font,
:is(.cv-main-left-item, .cv-main-right-item) ul li u,
:is(.cv-main-left-item, .cv-main-right-item) ul li i,
:is(.cv-main-left-item, .cv-main-right-item) ul li a {
    font-size: 1.4rem;
}

:is(.cv-main-left-item, .cv-main-right-item) ul li .header {
    font-size: 1.4rem;
    margin: 6px 0 6px 12px; 
}

:is(.cv-main-left-item, .cv-main-right-item) ul li .header b,
:is(.cv-main-left-item, .cv-main-right-item) ul li .header font,
:is(.cv-main-left-item, .cv-main-right-item) ul li .header u,
:is(.cv-main-left-item, .cv-main-right-item) ul li .header i,
:is(.cv-main-left-item, .cv-main-right-item) ul li .header a {
    font-size: 1.4rem;
}

:is(.cv-main-left-item, .cv-main-right-item) ul li .content {
    font-size: 1.4rem; 
}

.contact ul li, .hobby ul li, .award ul li  {
    list-style: none;
}

.contact ul li i, .hobby ul li i, .award ul li i{
    margin-right: 4px;
    color: #77838D;
}


#content-activity > div {
    /* margin-left: 20px; */
    padding: 10px 0;
}

#content-activity > div:last-child {
    padding-bottom: 0;
}

#content-activity div .header {
    font-weight: 600;
    font-size: 1.5rem;
}

#content-activity div .header font, 
#content-activity div .header b,
#content-activity div .header a,
#content-activity div .header i,
#content-activity div .header u {
    font-size: 1.5rem;
}

#content-activity div .time {
    font-size: 1.4rem;
    color: #77838D;
}

#content-activity div .time font, 
#content-activity div .time b,
#content-activity div .time a,
#content-activity div .time i,
#content-activity div .time u,
#content-activity div .time a {
    font-size: 1.4rem;
}

#content-activity div .content {
    font-size: 1.4rem;
}

#content-activity div .content font, 
#content-activity div .content b,
#content-activity div .content a,
#content-activity div .content i,
#content-activity div .content u,
#content-activity div .content a {
    font-size: 1.4rem;
}

.cv-main-right {
    width: calc(55% - 0px);
    /* padding: 0 20px; */
    margin-top: 20px;
}

.cv-main-right ul {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    background-color: #C7D0D8;
}

.cv-main-right-item {
    /* margin: 16px 0; */
    margin-left: 16px;
    padding: 16px 10px;
}

.cv-main-right-item:first-child {
    margin-top: 0;
}

.cv-main-right-item:last-child {
    padding-bottom: 0;
}

.cv-main-right-item .title {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 6px;
}

.cv-main-right-item .title .fas {
    color: #77838D;
    margin-right: 2px;
}

.cv-main-right-item .title b,
.cv-main-right-item .title font,
.cv-main-right-item .title u,
.cv-main-right-item .title i,
.cv-main-right-item .title a {
    font-size: 1.8rem;
}

.skill li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px !important;
}

.skill li span {
    font-size: 1.4rem;
}

.skill li span:first-child {
    width: calc(40% - 6px);
}

.skill li span:last-child {
    text-align: right;
    width: calc(15% - 6px);
}

.slider {
    background-color: #737373;
    border-radius: 5px;
    height: 12px;
    width: 45%;
    outline: none;
    -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
    background-color: #737373;
    border-radius: 5px;
    height: 12px;
    width: 12%;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.editable {
    border: none;
    outline: none;
}

.editable:focus {
    background-color: #fff;
    color: #000;
    border: none;
    outline: 1px solid #ccc;
    box-shadow: 50px 0 0px 4px #f4f5f5, -50px 0 0 4px #f4f5f5;
    z-index: 1;
    border-radius: 0.1px;
}

.editable:focus ul {
    background-color: #fff;
}

.editor-controller, .add-skill, .add-experience, .add-education, .add-contact, .add-hobby, .add-award {
    position: relative;
}

.editor-controller .fa-trash-alt {
    position: absolute;
    top: calc(50% - 7px);
    right: calc(-25px + -11px);
    user-select: none;
    cursor: pointer;
    font-size: 2.2rem;
    color: #ED5565;
    z-index: 1;
}

.editor-controller .fa-trash-alt:hover {
    color: #e92a3d;
    transition: 0.25s;
    transition-delay: 0.1s;
}

.add-skill .fa-plus-circle, .add-activity .fa-plus-circle, 
.add-experience .fa-plus-circle, .add-education .fa-plus-circle, 
.add-contact .fa-plus-circle, .add-hobby .fa-plus-circle, 
.add-award .fa-plus-circle {
    position: absolute;
    top: calc(50% - 7px);
    left: calc(-25px + -13px);
    font-size: 2.2rem;
    color: #00B14F;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

.fa-plus-circle:hover {
    color: #05833d;
    transition: 0.25s;
    transition-delay: 0.1s;
}

.modal-full {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-full h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    user-select: none;
    text-align: center;
    margin: 0 20px;
}

@media screen and (max-width: 1200px) {
    .modal-full {
        display: flex;
    }

    body {
        overflow: hidden;
    }
}
